<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <add key="Username" value="susch" />
    <add key="Password" value="123456" />
    <add key="ServerIp" value="localhost"/>
    <add key="ServerPort" value="7777"/>
  </appSettings>
</configuration>
